*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    height: 100%;
    background: #afafaf;
}

header{
    width: 80%;
    padding: 2rem;
    margin: 1rem auto;
    background: #333;
    border-radius: 50px;
}

nav{
    width: 50%;
    margin: auto;
}

nav li{
    width: 350px;
    color: #ffd20b;
    font-size: 1.5rem;
}

.flex{
    display: flex;
    justify-content: space-evenly;
}

.banner{
    width: 75%;
    margin: auto;
}

.banner img{
    width: 100%;
    transform: scaleX(-1);
}

.produtos{
    width: 75%;
    margin: 1rem auto;
    background: white;
    padding: 4rem 3rem;
}

.produtos .card{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.produtos .card img{
    width: 100%;
    height: 300px;
    transform: scaleX(-1);
}

.produtos .card button{
    background: #2c64ff8f;
    border-radius: 50px;
    color: white;
    padding: 1rem;
    font-size: 1.2rem;
    border: none;
    transition: 1s;
}

.produtos .card button:hover{
    background:rgb(44, 100, 255);
    cursor: pointer;
}

.carrinho{
     width: 10%;
     background: white;
     height: 70%;
     position: absolute;
     right: 0;
     top: 15%;
     overflow: scroll;
     flex-direction: column;
     gap: 30px;
    padding: 2rem 0 0 2rem;
}

.oculto{
    display: none;
}

.visivel{
    display: flex;
}

.mini-card{
    width: 100%;
    height: fit-content;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: center;
}

.mini-card img{
    width: 100px;
}

.mini-card>div{
    align-items: center;
    width: 120px;
}

.mini-card>div button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: #eee;
    text-align: center;
}